<h1>Data Driven Form</h1>

<form class="form-horizontal" [formGroup]="formulary" (ngSubmit)="onSubmit()">
  <div class="form-group" [ngClass]="applyCssError('name')">

    <div class="col-sm-12">
      <label for="name" class="control-label">Nome</label>
    </div>

    <div class="col-sm-12">
      <input type="text" class="form-control" formControlName="name" id="name" placeholder="seu nome">

      <app-error-msg [control]="formulary.get('name')" label="Nome">
      </app-error-msg>
    </div>
  </div>

  <div class="form-group" [ngClass]="applyCssError('email')">
    <div class="col-sm-12">
      <label for="email" class="control-label">Email</label>
    </div>
    <div class="col-sm-12">

      <input type="email" class="form-control" formControlName="email" id="email" placeholder="seu email">

      <app-field-control-error [showError]="verifyValidTouched('email')" errorMsg="email é obrigatório.">
      </app-field-control-error>

      <app-field-control-error [showError]="verifyInvalidEmail('email')" errorMsg="email inválido">
      </app-field-control-error>

      <app-field-control-error [showError]="formulary.get('email').status === 'PENDING'" errorMsg="validando email">
      </app-field-control-error>

      <app-field-control-error [showError]="formulary.get('email').hasError('hasEmail')" errorMsg="email já cadastrado">
      </app-field-control-error>

    </div>
  </div>

  <div class="form-group" [ngClass]="applyCssError('emailConfirmation')">
    <div class="col-sm-12">
      <label for="emailConfirmation" class="control-label">Confirme o email</label>
    </div>
    <div class="col-sm-12">

      <input type="email" class="form-control" formControlName="emailConfirmation" id="emailConfirmation" placeholder="seu email">

      <app-field-control-error [showError]="verifyValidTouched('emailConfirmation')" errorMsg="confirmar email é obrigatório.">
      </app-field-control-error>

      <app-field-control-error [showError]="formulary.get('emailConfirmation').hasError('notEqualsTo')" errorMsg="os emails informados não são iguais">
      </app-field-control-error>

    </div>
  </div>

  <div formGroupName="address">

    <div class="form-group">

      <div class="col-md-3" [ngClass]="applyCssError('address.zipcode')">

        <label for="zipcode" class="control-label">CEP</label>

        <input type="text" class="form-control" id="zipcode" formControlName="zipcode" (blur)="handleCEP()">

        <app-field-control-error [showError]="verifyValidTouched('address.zipcode')" errorMsg="CEP é obrigatório.">
        </app-field-control-error>

        <app-field-control-error [showError]="this.formulary.get('address.zipcode').hasError('invalidCep')" errorMsg="CEP inválido.">
        </app-field-control-error>

      </div>

      <div class="col-md-3" [ngClass]="applyCssError('address.number')">
        <label for="number" class="control-label">Número</label>
        <input type="text" class="form-control" id="number" formControlName="number">
        <app-field-control-error [showError]="verifyValidTouched('address.number')" errorMsg="Número é obrigatório.">
        </app-field-control-error>
      </div>

      <div class="col-md-6">
        <label for="complement" class="control-label">complement</label>
        <input type="text" class="form-control" id="complement" formControlName="complement">
      </div>

    </div>

    <div class="form-group" [ngClass]="applyCssError('address.street')">
      <div class="col-sm-12">
        <label for="street" class="control-label">Rua</label>
        <input type="text" class="form-control" name="street" id="street" formControlName="street">

        <app-field-control-error [showError]="verifyValidTouched('address.street')" errorMsg="Rua é obrigatório.">
        </app-field-control-error>
      </div>
    </div>

    <div class="form-group">
      <div class="col-md-5" [ngClass]="applyCssError('address.neightboor')">
        <label for="neightboor" class="control-label">Bairro</label>
        <input type="text" class="form-control" id="neightboor" formControlName="neightboor">
        <app-field-control-error [showError]="verifyValidTouched('address.neightboor')"
          errorMsg="Bairro é obrigatório.">
        </app-field-control-error>
      </div>

      <div class="col-md-4" [ngClass]="applyCssError('address.city')">
        <label for="city" class="control-label">Cidade</label>
        <input type="text" class="form-control" id="city" formControlName="city">
        <app-field-control-error [showError]="verifyValidTouched('address.city')" errorMsg="Cidade é obrigatório.">
        </app-field-control-error>
      </div>

      <div class="col-md-3" [ngClass]="applyCssError('address.state')">
        <label for="state" class="control-label">Estado</label>
        <select class="form-control" id="state" formControlName="state">
          <option *ngFor="let state of states | async" [value]="state.sigla">{{ state.name }}</option>
        </select>
        <app-field-control-error [showError]="verifyValidTouched('address.state')" errorMsg="Estado é obrigatório.">
        </app-field-control-error>
      </div>
    </div>

  </div>

  <div class="form-group">
    <div class="col-md-3" [ngClass]="applyCssError('roles')">
      <label for="role" class="control-label">Cargos</label>
      <select class="form-control" id="role" formControlName="roles" [compareWith]="compareRole">
        <option *ngFor="let role of roles" [ngValue]="role">{{ role.desc }}</option>
      </select>
      <app-field-control-error [showError]="verifyValidTouched('roles')" errorMsg="campo obrigatório.">
      </app-field-control-error>
    </div>

    <div class="col-md-3" [ngClass]="applyCssError('technologies')">
      <label for="technologies" class="control-label">Tecnologias</label>
      <select multiple class="form-control" id="technologies" formControlName="technologies"
        [compareWith]="comparetechnology">
        <option *ngFor="let technology of technologies" [ngValue]="technology.name">{{ technology.desc }}</option>
      </select>
      <app-field-control-error [showError]="verifyValidTouched('technologies')" errorMsg="campo obrigatório.">
      </app-field-control-error>
    </div>

    <div class="col-md-3" [ngClass]="applyCssError('newsletter')">
      <label for="newsletter" class="control-label">NewsLetter</label>

      <div id="newsletter" class="row">
        <div class="col-sm-4" *ngFor="let option of newsletter">

          <input class="form-check-input" type="radio" formControlName="newsletter" [value]="option.valor">

          <label class="form-check-label">
            {{ option.desc }}
          </label>
        </div>
      </div>
      <app-field-control-error [showError]="verifyValidTouched('newsletter')" errorMsg="campo obrigatório.">
      </app-field-control-error>
    </div>
  </div>

  <div class="form-group" [ngClass]="applyCssError('frameworks')">
    <label for="frameworks">Frameworks</label>
    <div id="frameworks" class="row">
      <div class="checkbox col-sm-4" formArrayName="frameworks"
        *ngFor="let item of formulary.get('frameworks')['controls']; let i = index">

        <label for="frameworks" class="checkbox-inline">
          <input type="checkbox" formControlName="framework" id="framework" [formControlName]="i">
          {{ frameworks[i] }}
        </label>
      </div>
      <app-field-control-error [showError]="!formulary.get('frameworks').valid" errorMsg="selecione pelo menos 1 opção">
      </app-field-control-error>

    </div>
  </div>

  <div class="form-group" [ngClass]="applyCssError('terms')">
    <div class="col-md-3 has-error">
      <div class="checkbox">
        <input type="checkbox" formControlName="terms" id="termos">
        <label for="termos" class="checkbox-inline">Aceito os termos</label>
        <app-field-control-error [showError]="!formulary.get('terms').valid" errorMsg="campo obrigatório.">
        </app-field-control-error>
      </div>
    </div>
  </div>

  <div class="col-sm-12">
    <button type="submit" class="btn btn-primary">Submit</button>

    <button class="btn btn-warning" (click)="resetForm()">Limpar formulário</button>

    <button class="btn btn-secondary" (click)="setRole()">Cargo default</button>

    <button class="btn btn-secondary" (click)="setTechnology()">Tecnologias default</button>

  </div>
</form>

<div class="col-sm-12">
  <app-form-debug [form]="formulary"></app-form-debug>
</div>
